* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --main-color: #54FF04;
    --text-color: #ffffff;

    /***************************Buttons******************/
--btnW: 142px;
--btnH: 42px;
--btnFontz:16px;

--btnColor: #54FF04;
--btnRadiant: linear-gradient(var(--main-color), var(--bg-color));



 /**************************font-size*******************/
--h1: clamp(4rem, calc(4rem + ((1vw - 0.325rem) * 2.8571)), 6.5rem);
--h2: clamp(3rem, calc(3rem + ((1vw - 0.325rem) * 2.8571)), 5.5rem);
--h3: clamp(3.5rem, calc(3rem + ((1vw - 0.325rem) * 2.8571)), 4.5rem);
--h4: clamp(2.8rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 3.5rem);
--h5: clamp(1.8rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 2.5rem);
--h6: clamp(1.6rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 2rem);

--p1: clamp(1rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 1.6rem);
--p2:  clamp(1rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 1.5rem);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);

    color: var(--text-color);
}

h1 {
    font-size: var(--h1);
    color: var(--text-color);
      }


h2 {
    font-size: var(--h2);
    color: var(--text-color);
    }
h3 {
    font-size: var(--h3);
}
h4 { 
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
p {
    font-size: var(--p1);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    padding: 5rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid var(--second-bg-color);
}
.logo-Icon {
    display: none;
    cursor: default;
    animation: slideRight 2s ease forwards;
}
.logo {
    font-size: clamp(1.3rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 3rem);
    color: var(--text-color);
    font-weight: 900;
    cursor: default;
    animation: slideRight 2s ease forwards;

}
.logo span {
    color: var(--main-color);
}

.navbar-parent {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: -120px;
}
.navbar {
    width: 600px;
    height: 40px;

}
.navbar a {
    width: 70px;
    font-size: clamp(1rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 3rem);
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 900;
    transition: .3s;

}
.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
    text-decoration: none;
}

#menu-icon {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
}

/***********************************Buttons***********************************/

.btnCon {
    display: flex;
    justify-content:space-between ;
    width: 304px;
    height: auto;
    margin-top: 103px;
}
.btnConHeader {
    width: 304px;
    height: auto;
}
.btnConHeaderHidden {
    display: none;
}
.button1 {
    background-image: var(--btnRadiant);
    transition: .3s;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3S;
    transition: .5s;
}
.button1:hover {
    color: var(--bg-color);
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.button2 {
    color:var(--text-color);
    border: 1px solid var(--text-color);
    background-color: transparent;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3S;
    transition: .5s;
}
.button2:hover {
    color: var(--main-color);
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.buttonBox {
    width: var(--btnW);
    height: var(--btnH);
    font-size: var(--btnFontz);
    font-weight: 900;
    font-family: var(--btnFonts);
}

/********************************LIne****************************/
.line {
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    margin-top: -200px;
    margin-bottom: 20px;
    border: none;
    animation: slideLeft 1s ease backwards;
    animation-delay: .5S;
}
.line-Vertical {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}

.line-Vertical1 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}

.line-Vertical2 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
    margin-top: 50px;
}

.line-Vertical3 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}

.lineA {
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    margin-top: 200px;
    margin-bottom: 20px;
    padding-left: 123px;
    border: none;
    opacity: 100%;
    animation: slideLeft 1s ease backwards;
    animation-delay: .5S;
}

.AboutMe-Page {
    width: 100%;
    height: 120vh;
    padding: 0 200px;
    background-color: var(--bg-color);

}

.AboutMe-Content {
    animation: slideLeft 2s ease forwards;
    width: 100%;
    height: auto;

}
.AboutMe-Page h2 {
    color: var(--text-color);
    margin-bottom: 10px;
    font-weight: 900;
    font-size: var(--h2);
}

.AboutMe-Text {
    width: 100%;
    height: auto;

}
.AboutMe-Text h5 {
    opacity: 32%;
    font-weight: 700;
}
.AboutMe-svg {
    margin-top: -900px;
    margin-left: -500px;
    text-align: center;
    opacity: 50%;
    overflow-x:hidden;   
}
.AboutMe-Body {
    margin-top: -100px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.AboutMe-Bodytext {
    width: 50%;
    height: auto;

}
.AboutMe-Bodytext h4 {
    font-size: var(--h4);
    font-weight: 900;
    color: var(--text-color);
    margin-top: 150px;
}
.AboutMe-Bodytext h4 span {
    color: var(--main-color);
}
.AboutMe-Bodytext h5,p {
    opacity: 52%;
    margin-top: 20px;
    font-weight: 400;
    text-align: left
}
 
.AboutMe-Bodytext p {
    font-size: var(--h6);
}
.line-about {
    width: 450px;
    height: 3px;
    margin-bottom: 20px;
    border: none;
    background-color: var(--main-color);
    margin-top: 100px;
    opacity: 100%;
}


.AboutMe-educ h4, h6, p {
    margin-top: 10px;
}
.AboutMe-educ h4 {
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
}
.AboutMe-educ h6 {
    color: var(--text-color);
    font-weight: 400;
    font-size: var(--h6);
    padding-left: 50px;

}

.AboutMe-educ p {
    color: var(--text-color);
    font-weight: 400;
    font-size: var(--h6);
    opacity: 48%;
    padding-left: 50px;
}

.AboutMe-Profile {
    width: 50%;
    height: 50vh;

}
.AboutMe-Profile img {
    width: 30vw;
    padding-left: 100px;
    margin-left: 100px;
    margin-top: -150px;
    opacity: 60%;
    position: relative;
    z-index: 9999;
}
.ME-about-svg {
    width: 100%;
    margin-top: 250px;
    margin-left: -200px;
    position:absolute;
    text-align: right;
    overflow-x: hidden;
    animation: slideLeft 2s ease backwards;
}
.line-VerticalAbout {
    margin-top: 10px;
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    margin-top: 400px;
    background-color: var(--main-color);
    border: none;
    opacity: 100%;
}
.AboutMe-Skills {
    margin-top: 100px;
    width: 100%;
    height: 30vh;
    animation: slideLeft 2s ease forwards;
}
.AboutMe-Skills h2{
    font-weight: 900;
    font-size: var(--h2);
    color: var(--main-color);
    text-align: center;
}
.SKILLS {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.SKILLS img {
    margin-right: 20px;
}
.lineS {
    position: absolute;
    width: 750px;
    height: 3px;
    background-color: var(--main-color);
    border: none;
    opacity: 100%;
    margin: 50px 0 0 550px;
    padding-left: 200PX;
}

.Exp-content {
    padding: 0 200px;

}

.AboutMe-Exp {
    padding-top: 50px;
    animation: slideRight 2s ease forwards;
}
.Exp-content h2 {
    color: var(--text-color);
    font-weight: 900;
    margin-top: -10px;
}
.Exp-lists {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    margin-top: 50px;

}
.Exp-lists h5 {
    font-weight: 700;
    color: var(--main-color);
}
.Exp-lists h3 {
    font-weight: 700;
    opacity: 62%;
}
.Exp-lists .list {
    width: 500px;
    height: auto;

}

.line-VerticalSocial {
    margin-top: 200px;
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
    opacity: 100%;
}
.AboutMe-SocialMedia {
    width: 100%;
    height: 200px;
    padding-top: 75px;
    background-color: var(--second-bg-color);
}

.download-CVHidden {
    display: none;
}
.download-CV {

margin-left: 50px;

}
.LineSkill {
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    margin-left: 200PX;
    margin-bottom: 20px;
    padding-left: 123px;
    border: none;
    opacity: 100%;
    animation: slideLeft 1s ease backwards;
    animation-delay: .5S;

}

.AboutMe-SocialM {
    margin-left: 200px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 450px;
    height: 50px;
}
.AboutMe-SocialM h5 {
    font-weight: 700;
}


.contact-footer {
    text-align: center;
    opacity: 32%;
    font-size: 2rem;
}



@media screen and (max-width: 1440px) {
    .line-VerticalAbout {
        margin-top: 700px;
        margin-left: 650px;
    }
    .lineS {
        margin-left:  350px;
    }
    .line-VerticalSocial {
        margin-left: 650px;
    }
}

@media screen and (max-width:1368px) {
    .contact-footer {
        font-size: 2rem;
    }
}

@media screen and (max-width:1280px) {
    .line-VerticalAbout {
        margin-left: 600px;
    }
    .line-VerticalSocial {
        margin-left: 600px;
    }
}

@media screen and (max-width: 1240px) {
    .line-VerticalAbout {
        margin-left: 560px;
    }
    .line-VerticalSocial {
        margin-left: 560px;
    }
}

@media screen and (max-width: 1180px) {

    .lineS {
        margin-left: 200px;
    }
    .line-VerticalAbout {
        margin-left: 530px;
    }
    .line-VerticalSocial {
        margin-left: 530px;
    }
    .AboutMe-Profile img {
        margin: 0;
        padding: 0;
    }
    .AboutMe-Profile {
        margin-left: 250px;
        margin-top: -300px;
    }
}
@media screen and (max-width:1024px) {
    .navbar {
        width: 500px;

    }
    .navbar-parent {
        width: auto;
        margin-right: 0;
    }

    .AboutMe-Page {
        padding: 0 100px ;
    }
    .AboutMe-svg {
        margin-left: -600px;
    }
    .ME-about-svg {
        margin-left: -50px;
    }

    .AboutMe-Profile {
        margin-left: 100px;
    }
    .lineS {
        margin-left: 150px;
    }
    .line-VerticalAbout {
        margin-left:  450px;
    }
    .line-VerticalSocial {
        margin-left:  450px;
    }
    .Exp-content {
        padding: 0 100px;
    }
}



@media screen and (max-width: 1004px) {


    .navbar-parent {
        width: 600px;
        padding-top: 10px;
    }
 
    .navbar a {
        font-size: 1.6rem;
        margin-left: 3rem;
    }
    .btnConHeader {
        margin-right: -20px;
        margin-bottom: 10px;
        width: auto;
    }
    svg {
        display: none;
    }
    .AboutMe-Page {
        padding: 0 100px;
        height: auto;
    }
    .AboutMe-Body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .AboutMe-Bodytext {
        width: auto;
        margin-top: 30px;
    }
    .AboutMe-Profile {
        width: auto;
        height: auto;
        margin: 0;
        margin-top: 100px;
    }
    .AboutMe-Profile img {
        width: 40vw;
        padding: 0;
        margin: 0;
    }

    .line-VerticalAbout {
        margin-top: 1000px;
        margin-left: 450px;
    }


    .line-VerticalSocial {
        margin-left: 450px;
    }
    .lineS {
        margin-left: 200px;
        width: 600px;
    }
    .Exp-content {
        padding: 0 100px;
    }


    .Exp-lists h3 {
        font-size: var(--h4)

    }
}

@media screen and (max-width: 991px) {
    .line-VerticalAbout {
        margin-left: 445px;
    }
    .line-VerticalSocial {
        margin-left: 445px;
    }
    .AboutMe-Bodytext {
        padding-right: 100px;
    }
}

@media screen and (max-width:860px){
    .navbar {
        width: 400px;
        padding-top: -20px;
    }
    .navbar-parent {
        width: auto;
        margin-right: -20px;
        
    }
    .download-CV {
        width: auto;
        margin-left: 30px;
        margin-right: -30px;
    }
    .line-VerticalAbout {
        margin-left: 370px;
    }
    .line-VerticalSocial {
        margin-left: 370px;
    }
    .lineS {
        margin-left: 130px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
    .logo-Icon {
        display: block;
        margin-left: -30px;
    }
    .navbar {
        position: fixed;
        width: 25%;
        margin-left: 540px;
        top: -3rem;
        left: 18px;
        padding: 25px 0;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid var(--main-color);
        box-shadow: 0 .5rem 1rem var(--main-color);
        display: none;
    }
    .navbar.active {
        display: block;
        height: auto;
        margin-top: 120px;
    }
    .navbar a {
        text-align: center;
        display:block;
        font-size: 2rem;
        margin: 3rem;
    }
    .download-CV {
        display: none;
    }
    .download-CVHidden {
        display: block;
        margin-left: -20px;
    }
    .bx-menu {
        margin-left: 470px;
    }
    #menu-icon {
        display: block;

    }
    #menu-icon:hover {
        color: var(--main-color);
        box-shadow: 0 .5rem 1rem var(--main-color);
    } 
    .btnConHeader {
        display: none;
    }
    .AboutMe-Page {
        height: auto;
    }
    .AboutMe-Body {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .AboutMe-Bodytext {
        margin-top: -100px;
        width: 100%;
    }
    .AboutMe-Profile {
        width: auto;
        margin-top: 100px;
    }
    .AboutMe-Profile img {
        margin-top: 50px;
    }
    .line-VerticalAbout {
        margin-left:320px;
    }
    .lineS {
        margin-left: 180px;
        width: 400px;
    }
    .AboutMe-Exp {
        height: 70vh;
    }
    .Exp-content {
        padding-left: 50px;
        padding-right: 50px;
    }   
    .Exp-lists {
        width: 100%;
    }
    .line-VerticalSocial {
        margin-left: 320px;
    }
    .AboutMe-SocialMedia {

        height: 20vh;
    }
    .LineSkill {
        margin-left: 100px;
    }
    .AboutMe-SocialM {
        margin-left: 100px;
    }
    .contact-footer {
        font-size: 1.6rem;
    }
}



@media screen and (max-width:520px) {
    .bx-menu {
        margin-left: 340px;
    }
    .navbar {
        margin-left: 330px;
        width: auto;
    }
    .download-CVHidden {
        margin-left: -33px
    }
    .AboutMe-Page {
        padding-left: 50px;
        padding-right: 50px;
    }
    .AboutMe-Content {
        width: 420px;
    }
    .AboutMe-Page .lineA {
        margin-left: 140px;
    }
    .AboutMe-Body {
        margin-top: 0;
    }
    .AboutMe-Text {
        text-align: center;
    }
    .AboutMe-Bodytext {
        margin-top: 0;
    }
    .AboutMe-Bodytext h4 {
        margin-top: 100px;
    }
    .AboutMe-Profile {
        width: auto;
        height: auto;
        margin-top: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .AboutMe-Profile img {

        margin: 0;
        width: 40vw;
    }
    .line-about {
        width: 300px;
    }
    .line-VerticalAbout {
        margin-left: 220px;
        width: 75px;
    }
    .SKILLS img {
        width: 90px;
        height: 75px;
    }
    .lineS {
        margin-left: 50px;
    }
    .lineA {
        margin-left: 140px;
        margin-top: 150px;
    }
    .AboutMe-Exp {
        height: auto;
    }
    .Exp-content h2 {
        text-align: center;
    }
    .Exp-lists h3 {
        font-size: 2.5rem;
    }

    .lineSkill {
        margin-left: 50px;
    }
    .AboutMe-SocialM {
        margin-left: 50px;
    }
    .line-VerticalSocial {
        margin-left: 220px;
        width: 75px;
    }

}

@media screen and (max-width:414px) {
    .bx-menu {
        margin-left: 200px;
    }
    .navbar {
        margin-left: 220px;
    }

    .AboutMe-Page {
        padding: 50px
    }
    .AboutMe-Page hr {
        padding: 0;
        margin-left: 0;
    }
    .AboutMe-Content {
        width: 320px;
    }
    .AboutMe-Text{
        width: 100%;
        margin-left: 0;
    }
    .AboutMe-Text h5 {
        font-size: var(--h6);
    }

    .AboutMe-Bodytext {
        width: 350px;
        margin-left: -15px;
    }
    .AboutMe-Profile {
        width: auto;
        height: auto;
    }

    .AboutMe-Profile img {
        margin-left: 0;
        width: 50vw;
    }
    .AboutMe-SocialM {
        width: 300px;
    }
    .AboutMe-SocialM h5 {
        font-size: var(--h6);
    }
    .AboutMe-SocialM img {
        width: 30px;
        height: 30px;
    }

    .line-VerticalAbout {
        margin-left: 160px;
    }
    .lineS {
        margin-left: 110px;
        width: 75px;
    }
    .AboutMe-Page .lineA {
        margin-left: 120px;
    }

    .Exp-content .lineA {
        margin-left: 120px;
    }
    .Exp-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Exp-lists h5 {
        font-size: var(--h6);
    }
    .Exp-lists h3 {
        font-size: 2.2rem;
    }
    .line-VerticalSocial {
        margin-left: 160px;
    }

} 


@media screen and (max-width: 375px) {

    .buttonBox {
        width: 100px;
        font-size: 1.4rem;
    }
    .logo-Icon {
        margin-left: -20px;
    }
    .bx-menu {
        margin-left: 180px;
    }
    .navbar {
        margin-left: 190px;
    }
    .navbar a {
        font-size:  1.4rem;
    }
    .download-CVHidden {
        margin-left: -15px;
    }
    .AboutMe-Page {
        width: auto;
        padding:50px;
        height: auto;
    }

    .AboutMe-Page .lineA {
        margin-left: 85PX;
    }
    .AboutMe-Content {
        padding: 0;
        width: 100%;
    }

    .AboutMe-Body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

    }
    .AboutMe-Text {
        margin-left: 0;
        width: auto;
    }
    .AboutMe-Text h5 {
        font-size: var(--h6);
    }
    .AboutMe-Profile {
        margin-top: 100px;

    }
    .AboutMe-Profile img {
        margin-left: 0;
        width: 250px;
    }
    .AboutMe-Bodytext {
        margin: 0;
        width: 300px;
        padding: 0;
    }
    .AboutMe-Bodytext h4 {
        font-size: var(--h5);
    }
    .AboutMe-Bodytext h5 {
        font-size: 1.8rem;
    }
    .AboutMe-Bodytext p {
        font-size: 1.4rem;
    }
    .line-about {
        width: 100px;
        margin-top: 50px;
    }
    .AboutMe-educ h4 {
        margin-top: 50px;
    }
    .line-VerticalAbout {
        margin-left: 150px;
    }
    .AboutMe-Skills h2 {
        font-size: var(--h4);
    }
    .lineS {
        width: 200px;
        margin-left: 90px;
    }

    .Exp-content .lineA {
        margin-left: 90px;
    }
    .Exp-content {
        padding-left: 40px;
        padding-right: 10px;
    }
    .Exp-lists {
        height: auto;
        width: 300px;
    }
    .Exp-lists h5 {
        font-size: 1.4rem;
    }
    .Exp-lists h3 {
        font-size: 1.8rem;
    }

    .line-VerticalSocial {
        margin-left: 150px;
    }
    .AboutMe-SocialM {
        width: 260px;
    }
    .AboutMe-SocialM h5 {
        font-size: var(--h6);
    }
    .AboutMe-SocialM img {
        width: 30px;
        height: 30px;
    }
    .contact-footer {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 374px) {
    .AboutMe-Profile img {
        margin-left: -25px;
    }
}

@media screen and (max-width: 320px) {

    .logo-Icon {
        margin-left: -20px;
    }
    .bx-menu {
        margin-left: 120px;
    }
    .navbar {
        margin-left: 140px;
    }
    .AboutMe-Page {
        padding: 40px;
    }
    .AboutMe-Page .lineA {
        margin-left: 70px;
    }
    .AboutMe-Text {
        margin-left: 0;
    }
    .AboutMe-Profile {
        margin-left: 0;
    }
    .AboutMe-Profile img {
        width: 60vw;
        margin-left: 0;
    }
    .AboutMe-Bodytext {
        width: 240px;
    }
    .AboutMe-Bodytext h4 {
        font-size: 2rem;
    }
    .AboutMe-Bodytext h5 {
        font-size: 1.8rem;
    }
    .AboutMe-Bodytext p {
        font-size: 1.4rem;
    }

    .line-VerticalAbout {
        margin-left:  130px;
    }
    .lineS {
        margin-left: 60px;
    }
    .SKILLS {
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .SKILLS img {
        width: 65px;
        height: 65px;
    }

    .AboutMe-Exp {
        padding:0;
    }
    .Exp-content .lineA {
        margin-top: 150px;
        margin-left: 70px;
    }
    .Exp-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .Exp-lists {
        width: 280px;
    }
    .Exp-lists h5 {
        font-size: 1.2rem;
    }
    .Exp-lists h3 {
        font-size: 1.6rem;
    }
    .line-VerticalSocial {
        margin-left: 130px;
    }
    .LineSkill {
    margin-top: 20PX;

    }
    .AboutMe-SocialM {
        height: auto;
    }
}










/****************************KEYFRAMES***********************************/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatText {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}