* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --main-color: #54FF04;
    --text-color: #ffffff;

    /***************************Buttons******************/
--btnW: 142px;
--btnH: 42px;
--btnFontz:16px;

--btnColor: #54FF04;
--btnRadiant: linear-gradient(var(--main-color), var(--bg-color));



 /**************************font-size*******************/
--h1: clamp(4rem, calc(4rem + ((1vw - 0.325rem) * 2.8571)), 6.5rem);
--h2: clamp(3rem, calc(3rem + ((1vw - 0.325rem) * 2.8571)), 5.5rem);
--h3: clamp(3.5rem, calc(3rem + ((1vw - 0.325rem) * 2.8571)), 4.5rem);
--h4: clamp(2.8rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 3.5rem);
--h5: clamp(1.8rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 2.5rem);
--h6: clamp(1.6rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 2rem);

--p1: clamp(1rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 1.6rem);
--p2:  clamp(1rem, calc(2.8rem + ((1vw - 0.325rem) * 0.8)), 1.5rem);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);

    color: var(--text-color);
}

h1 {
    font-size: var(--h1);
    color: var(--text-color);
      }


h2 {
    font-size: var(--h2);
    color: var(--text-color);
    }
h3 {
    font-size: var(--h3);
}
h4 { 
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
p {
    font-size: var(--p1);
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9rem;
    padding: 5rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid red solid var(--second-bg-color);
}
.logo-Icon {
    display: none;
    cursor: default;
    animation: slideRight 2s ease forwards;
}
.logo {
    font-size: clamp(1.3rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 3rem);
    color: var(--text-color);
    font-weight: 900;
    cursor: default;
    animation: slideRight 2s ease forwards;

}
.logo span {
    color: var(--main-color);
}

.navbar-parent {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: -120px;
}
.navbar {
    width: 600px;
    height: 40px;

}
.navbar a {
    width: 70px;
    font-size: clamp(1rem, calc(1.6rem + ((1vw - 0.325rem) * 0.4571)), 3rem);
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 900;
    transition: .3s;

}
.navbar a:hover, 
.navbar a.active {
    color: var(--main-color);
    text-decoration: none;
}

#menu-icon {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
}

/***********************************Buttons***********************************/

.btnCon {
    display: flex;
    justify-content:space-between ;
    width: 304px;
    height: auto;
    margin-top: 103px;
}
.btnConHeader {
    width: 304px;
    height: auto;
}
.btnConHeaderHidden {
    display: none;
}
.button1 {
    background-image: var(--btnRadiant);
    transition: .3s;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3S;
    transition: .5s;
}
.button1:hover {
    color: var(--bg-color);
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.button2 {
    color:var(--text-color);
    border: 1px solid red solid var(--text-color);
    background-color: transparent;
    animation: slideLeft 1s ease forwards;
    animation-delay: .3S;
    transition: .5s;
}
.button2:hover {
    color: var(--main-color);
    background: var(--bg-color);
    border: 1px solid red solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.buttonBox {
    width: var(--btnW);
    height: var(--btnH);
    font-size: var(--btnFontz);
    font-weight: 900;
    font-family: var(--btnFonts);
}

/********************************LIne****************************/
.line {
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    margin-top: -200px;
    margin-bottom: 20px;
    border: none;
    animation: slideLeft 1s ease backwards;
    animation-delay: .5S;
}
.line-Vertical {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}

.line-Vertical1 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}

.line-Vertical2 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
    margin-top: 50px;
}

.line-Vertical3 {
    position: relative;
    rotate:calc(90deg);
    width: 121px;
    height: 3px;
    margin-left: 900px;
    background-color: var(--main-color);
    border: none;
}


.contact-page {
    width: 100%;
    height: 160vh;
    background-color: var(--bg-color);
}

.contact-me-page {
    width: 100%;
    height: 100vh;
    display: flex;

}
.contact-page h1 {
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--h1);
    text-align: center;
    padding-top: 240px;
    z-index: 100;
    animation: slideLeft 2s ease backwards;
    animation-delay: .9S;
}

.contact-svg {
    margin-top: -180px;
    text-align: center;
    opacity: 60%;
    animation: slideRight 1s ease forwards;
}

.contactme-content {
    margin-right: 100px;
    height: auto;
    width: 50vw;
    padding-left: 246px;
    text-align: left;
    animation: slideLeft 2s ease forwards;
}
.contactme-content hr{
    margin-top: 200px;
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    border: none;
    opacity: 100%;
}
.contactme-content h2 {
    font-weight: 900;
    color: var(--text-color);
    font-size: var(--h2);
    margin-bottom: 70px;
}
.contactme-content h5 {
    font-weight: 400;
    font-size: var(--h5);
    color: var(--text-color);
    opacity: 62%;
    margin-bottom: 70px;
}

.mail-me h5{
    font-size: var(--h5);
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 0;
}
.mail-me p {
    font-size: var(--p1);
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 60px;
}
.mail-me img {
    margin-bottom: 20px;
}

.me-svg {
    width: 100%;
    margin-top: 80px;
    margin-left: -200px;
    position:absolute;
    text-align: right;
    overflow: hidden;
    animation: slideLeft 2s ease backwards;
}

.contactme-input {
    margin-top: 200px;
    height: 760px;
    width: 50vw;
    z-index: 3;
    animation: slideLeft 2s ease backwards;
}


input[type=text]:focus {
    background-color: var(--second-bg-color);
    outline: none;
    transition: .3s;
    color: var(--main-color);
  }

.contact-form, input {
    height: 90px;
    width: 520px;
    padding-left: 30px;
    font-size: 16px;
    background:white;

}
.contact-form, input[type=text] {
    color: var(--bg-color);
}

.contact-form, textarea {
    padding-left: 30px;
    padding-top: 30px ;
    width: 520px;
    height: 140px;
    border-color: var(--main-color);
    background: transparent;
    line-height: 1.5;
    margin-bottom: 10px;
}
.contact-form, textarea[type=text] {
    color: var(--text-color);
}

textarea:focus {
    background-color:#161616;
    outline: none;
    transition: .3s;
    color: var(--text-color);
}

.contactme-input .btnCon {
    margin-top: 382px;
    margin-left: 200px;
}



.contactme-input .lineF {
    margin-top: 100px;
}
.find-me {
    margin-left: 140px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 450px;
    height: 50px;
}
.contactme-input hr {
    margin-left: 170px;
    opacity:100%;
}
.find-me h5 {
    font-size: var(--h5);
    font-weight: 900;
    color: var(--text-color);
}

.contact-footer {
    margin-top: 160px;
    text-align: center;
    font-size: 1.6rem;
}



/**********************************Media Queries********************************************/

@media screen and (max-width: 1440px) {
    .contactme-content {
        padding-left: 200px;
    }
}

@media screen and (max-width:1280px) {
    .contactme-content {
        padding-left: -50px;
    }
}

@media screen and (max-width: 1180px) {
    .contactme-content {
        padding-left: 50px;
        width:350px ;
    }
    .find-me {
        margin-left: 100px;
    }
   
}


@media screen and (max-width:1024px) {

    .contactme-content {
        width: 300px;
    }
    .contact-form, input {
        width: 350px;
        padding-left: 30px;
    }
    .contact-form, textarea {
        width: 350px;
    }
    .find-me {
        margin-left: -200px;
    }
}




@media screen and (max-width: 1004px) {


    svg {
        display: none;
    }

    .contact-page {
        margin: 0;
        height: 100vh;

    }
    
    .contact-form, input {
        height: 90px;
        width: 370px;
        padding-left: 30px;
        font-size: 16px;
    }
    .contact-form, textarea {
        width: 370px;
    }
    .contact-page h1 {
        margin-top: 200px;
        padding-top: 0;
    }
    .contactme-content {
        margin-top: 200px;
        margin-right: 0;
        margin-left: 200px;
        width: 200px;


    }
    .contactme-content hr {
        margin-top: 50px;
        margin-left: -200px;
    }


    .contactme-content h2 {
        margin-left: -200px;
    }
    .contactme-content h5 {
        margin-left: -200px;
    }

    .contact-form, input {
        height: 90px;
        width: 420px;
        padding-left: 30px;
        font-size: 16px;
    }
    .contact-form, textarea {
        width: 420px;
    }


    .contactme-input .btnCon {
        margin-top: 432px;
        margin-left: 200px;
    }
    
    .mail-me {
        margin-left: -200px;
    }

    .contactme-input hr {
        margin-left: 70px;
        opacity:100%;
    }
    .find-me {
        margin-left: 50px;
    }
    .find-me h5 {
        font-size: var(--h5);
        font-weight: 900;
        color: var(--text-color);
    }
    
    .contact-footer {
        margin-top: 450px;
        text-align: center;
        font-size: 1.6rem;
        opacity: 60%;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        display: none;
    }
    .logo-Icon {
        display: block;
        margin-top: 10px;
        margin-left: -50px;
    }
    .navbar {
        position: fixed;
        width: 25%;
        margin-left: 520px;
        top: -3rem;
        left: 18px;
        padding: 25px 0;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid var(--main-color);
        box-shadow: 0 .5rem 1rem var(--main-color);
        display: none;
    }
    .navbar.active {
        display: block;
        height: auto;
        margin-top: 120px;
    }
    .navbar a {
        text-align: center;
        display:block;
        font-size: 2rem;
        margin: 3rem;
    }
    .bx-menu {
        margin-left: 570px;
    }
    #menu-icon {
        display: block;
    }
    #menu-icon:hover {
        color: var(--main-color);
        box-shadow: 0 .5rem 1rem var(--main-color);
    } 

    .btnConHeader {
        display: none;
    }
    .btnConHeaderHidden {
        display: block;
        margin-left: -29px;
    } 
    .contactme-content {
        width: 200px;
        margin-left: 200px;
    }
    .contactme-content h2 {
        font-size: 3rem;
        width: 250px;
    }
    .contactme-content h5 {
        font-size: 2rem;
    }

    .contact-form, input {
        height: 60px;
        width: 300px;
    }
    .contact-form, textarea {
        width: 300px;
        height: 100px;

    }
    .contactme-input .btnCon {
        margin-top: 292px;
        width: auto;
    }
    .lineF {
        margin-left: 200px;
    }
    .find-me {
        margin-top: 50px;
        margin-left: -70px;
    }
    
    .contact-footer {
        margin-top: 450px;
        opacity: 60%;
    }
}


@media screen and  (max-width: 520px) {
    .logo-Icon {
        margin-left: -20px;
    }
    .bx-menu {
        margin-left: 300px;
    }
    .navbar {
        margin-left: 320px;
        width: auto;
    }
    .navbar a {
        font-size: 1.6rem;
    }
    .btnConHeaderHidden {
        display: none;
    }



    .contact-me-page {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .contactme-content {
        width: 400px;
        margin-left: 0;
        padding-left: 0;
    }
    .contactme-content .line-horizontal {
        width: 75px;
        margin-left: 0;
    }
    .contactme-content h2 {
        margin-bottom: 30px;
        margin-left: 0;
    }
    .contactme-content h5 {
        font-size: 1.8rem;
        margin-bottom: 30px;
        margin-left: 0;
        width: 200px;
    }

    .mail-me {
        margin-top: 70px;
        margin-left: 0;
        text-align: center;
    }
    .mail-me h5{
        font-size: var(--h5);
        font-weight: 400;
        color: var(--text-color);
        margin-bottom: 10px;
        margin-left: 0;
        opacity: 100%;
    }
    .mail-me p {
        font-size: var(--p1);
        font-weight: 400;
        color: var(--text-color);
        margin-bottom: 40px;
        opacity: 60%;
    }
    .mail-me img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .contactme-input {
        margin-top: 200px;
        width: auto;
        height: auto;
    }
    .contact-form, input {
        height: 40px;
        width: 250px;
    }
    .contact-form, textarea {
        width: 250px;
        height: 80px;
    }
    .contactme-input .btnCon {
        margin-top: 232px;
    }
    .lineF {
        display: none;
    }
    .find-me {
        margin-top: 50px;
        margin-left: 200px;
        width: 300px;
    }
    .find-me h5 {
        font-size: 2rem;
    }
    .find-me img {
        width: 30px;
        height: 30px;
    }
    footer {
        height: 40px;
        padding-top: 15px;
        background-color: var(--second-bg-color);
    }
    .contact-footer {
        margin-top: 100px;
    }

}


@media screen and (max-width: 414px) {

    .bx-menu {
        margin-left: 220px;
    }
    .navbar {
        margin-left: 220px;
    }
    .contactme-content {
        width: 350px;
    }
    .mail-me {
        margin-top: 100px;
    }
    .mail-me img {
        margin-bottom: 30px;
    }
    .contactme-input {
        padding-left: 0;
    }
    .contact-form {
        padding-left: 70px;
        margin-left: 0;
    }
    .contact-form, textarea {
        margin-bottom: 20px;
    }
    .contact-form button {
        margin-left: -25px;
    }
    .contactme-input .btnCon {
        margin-left: 200px;
        margin-top: 242px;
    }
    .find-me {
        margin-left: 90px;
    }
    .find-me h5 {
        font-size: 1.6rem;
    }
    .contact-footer {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 375px) {
  
    .logo-Icon {
        margin-left: -5px;
    }
    .bx-menu {
        margin-left: 170px;
    }
    .navbar {
        margin-left: 190px;
    }
    .contact-me-page .line-horizontal {
        width: 50px;
    } 

    .contactme-content {
        width: 280px;
        margin-left: 10px;
    }
    .contactme-content h2{
        font-size: var(--h5);
    }
    .contactme-content h5 {
        font-size: var(--h6);
    }
    .contactme-content p {
        font-size: 1.4rem;
    }

 
    .contactme-input .btnCon {
        margin-left: 110px;
        width: 142px;
        margin-top: 330px;
    }

    .contact-form {
        margin-left: 25px;
        padding-left: 25px;
    }
    .contact-form button {
        margin-left: 60px;
        margin-top: 30px;
}
    .contactme-input {
        margin-left: 0px;
        width: 350px;
    }
    .find-me {
        margin-top: 50px;
        margin-left: 20px;
    }
    .contact-footer {
        font-size: 1.2rem;
    }
}



@media screen and (max-width: 320px) {

    .btnCon {
        width: 220px;
    }
    .buttonBox {
        width: 100px;
        height: 35px;
        font-size: 1.2rem;
    }
    .contactme-content {
        margin-left: 0;
    }
    .mail-me {
    margin-top: 70px;
    }
    .contactme-input .btnCon {
        margin-left: 105px;
    }
    .contact-form {
        margin-left: 10px;
    }
    .contact-form button {
        margin-left: 65px;
        margin-top: 30px;
}

    .bx-menu {
        margin-left: 100px;
    }
    .navbar {
        margin-left: 130px;
    }
}


/****************************KEYFRAMES***********************************/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatText {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}